body {
    background-color: blanchedalmond;
    font-family: 'Times New Roman', Times, serif;
}
h1 {
    color:darkolivegreen;
    text-align:center;
}
.projects { display:flex; flex-wrap:wrap; } /* condensed to save space */
.project {
width: 30%;
margin: 10px;
padding: 20px 10px;
background: white; /* pick a color */
border-radius: 25%;
}