body {
    background-color:hsl(60, 56%, 91%);(255, 255, 255);
    font-family: 'Times New Roman', Times, serif;
}
h1 {
    color:darkolivegreen;
    text-align:center;
}
.projects { display:flex; flex-wrap:wrap; } /* condensed to save space */
.project {
width: 30%;
margin: 10px;
padding: 20px 10px;
background: hsl(60, 56%, 91%); /* pick a color */
border-radius: 25%;
}
.project img{
width: 300px;
height: 300px;
margin: 10px;
border: 3px solid darkolivegreen(126, 14, 201); /* choose a color */
display: block;
margin: auto;
}